body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  color: #dae2d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
:root {
  --light-text: #dae2d4;
  --dark-text: #0b110e;
  --background: #344e41;
  --accent-green: #588157;
  --error: rgb(201, 13, 13);
  --pink: #FFEBEC;
}
