
.nutrition-overview {
    display: flex;
    flex-direction: column;

}
.nutrition-overview .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nutrition-overview h3 {
    font-size: 42px;
    font-weight: 700;
    color: #32292F;
}

.nutrition-overview button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: #1D7874;
    outline: none;
    transition: all .2s ease;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    max-height: 40px;
    color: white;
}