.nutrition-overview {
    display: flex;
    flex-direction: column;
}

.nutrition-overview .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nutrition-overview .header h3 {
    font-size: 42px;
    font-weight: 700;
    color: white;
}

.nutrition-overview .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}

