.nutrition-form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Questrial', sans-serif;
}

.nutrition-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.nutrition-form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nutrition-form button {
  padding: 10px 20px;
  background-color: #75dddd;;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nutrition-form button:hover {
  background-color: #87ebeb;
}
