.InputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 8px 0;
    flex: 1;
  }
  .InputField label {
    margin-bottom: 5px;
    color: var(--light-text);
  }
  .InputField input {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    border: solid 1px var(--light-text);
    width: 100%;
    background: transparent;
    color: var(--light-text);
  }
  .InputField input::placeholder {
    color: var(--light-text);
  }
  .InputField input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  .nutrition-form{
      padding: 60px;
      padding-left: 100px;
      padding-right: 100px;
  }
  