.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 8px;
}

.header {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.33;
  color: #004346;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 4px;
  width: 500px;
}

.input-container {
  margin-bottom: 15px;
}

.email-input,
.username-input,
.firstname-input,
.lastname-input,
.password-input,
.confirmpassword-input {
  display: flex;
  align-items: center;
}

.email-input .input,
.username-input .input,
.firstname-input .input,
.lastname-input .input,
.password-input .input,
.confirmpassword-input .input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon-container {
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 4px;
}

.icon {
  color: #888;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #09bc8a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #07a276;
}
