.login-form{
    display: flex;
    justify-content: center;
    min-width: 100%;
    color: aliceblue;
    margin-top: 55px;
}

.input-window{
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 35%;
    height: 75%;
    max-height: 85%;
}