.Navbar {
    width: 100%;
    max-width: 100vw;
    background: var(--dark-background);
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--side-padding);
}

.Navbar .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar a {
    color: #fff;
    font-weight: 300;
}

.Navbar .content .nav-links .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    flex: 1 1;
    max-width: 650px;
    grid-gap: 50px;
    gap: 50px;
}