.landing-page .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-page {
    max-width: 100vw;
    height: calc(100% - var(--navbar-height));
    min-height: calc(100vh - var(--navbar-height));
    overflow-x: hidden;
    background: #000;
}

.landing-page .hero {
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing, .landing-page .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-page .hero img {
    position: absolute;
}

.landing-page .hero h1 {
    font-size: 76px;
    font-weight: 700;
}

.landing-page .hero h1, .landing-page .hero p {
    color: aliceblue;
    position: relative;
    z-index: 10;
}