.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-size: large;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: #bf9991;
}

.login-form .form-input{
    width: 30vw;
    padding: 5px;
    margin: 5px;
    height: 40px;
    font-size: large;
    outline: none;
    padding-left: 10px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bf9991;
    padding: 2vw;
    height: 40vh
}

.submit-login{
    margin-top: 20px;
    padding: 5px;
    width: 30vw;
    height: 40px;
    font-size: large;
    background-color: #8d5652;
    border: none;
    color: white
}

.login-form h1{
    padding-top: 5vw;
    padding-bottom:2vw;
}

.submit-login:hover{
    color: #8d5652;
    background-color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


