.nutrition-page, .nutrition-page .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nutrition-page a{
    text-decoration: none;
}

.nutrition-page {
    max-width: 100vw;
    overflow-x: hidden;
    background: #2c4147;
}

.Banner {
    align-items: center;
    justify-content: center;
    background: #3d4a46;
    height: 120px;
}

.Banner h1 {
    font-size: 42px;
    color: white;
}

.nutrition-page .content {
    max-width: 1100px;
    margin: 50px auto 0;
}

.nutrition-page, .nutrition-page .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}