.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #f7fafc;

}

.main-container{
  /* margin-left: 100px; */
  /* margin-right: 10px; */
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:rgb(255, 230, 234) ;
  border-radius: 18px;
}
