:root[data-theme="light"], [data-theme][data-theme="light"] {
  --chakra-colors-chakra-body-text: var(--chakra-colors-gray-800);
  --chakra-colors-chakra-body-bg: var(--chakra-colors-white);
  --chakra-colors-chakra-border-color: var(--chakra-colors-gray-200);
  --chakra-colors-chakra-inverse-text: var(--chakra-colors-white);
  --chakra-colors-chakra-subtle-bg: var(--chakra-colors-gray-100);
  --chakra-colors-chakra-subtle-text: var(--chakra-colors-gray-600);
  --chakra-colors-chakra-placeholder-color: var(--chakra-colors-gray-500);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #f7fafc;
}
