$primary-color: #fffae3;
$secondary-color: #f7567c;
$text-primary-color: #99e1d9;
$text-secondary-color: #1D2D44;

$wild-color: #2A0800;//maybe cyan

.app {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: $primary-color;
    color: $text-secondary-color;
}

.hidden {
    display: none !important;
}

.Navbar {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    .nav-links {
        margin: auto 0;
        * {
            padding: 10px;
            margin: auto 20px;
            color: $primary-color;
            font-size: 20pt;
            text-decoration: none;
        }
        button {
            background-color: cyan;
            border: none;
            border-radius: 10px;
        }
    }
}

.landing-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;

        height: 500px;
        align-items: center;
        justify-content: center;
        position: relative;
        * {
            z-index: 1;
            border-radius: 5px;
        }
        .title {
            font-size: 76px;
            font-weight: 700;
            color: $text-primary-color; 
            background-color: $text-secondary-color;
        }
        .cta {
            margin-top: 10px;
            font-size: 50px;
            color:  $text-secondary-color;
            background-color: $text-primary-color;
        }
        img {
            z-index: 0;
            position: absolute;
        }
    }
}

.login-form{
    background-color: blue;

    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    font-size: 36px;

    input, button{
        height: 60px;
    }

    .invalid-email{
        color: #fe3210;
        font-size: 16px;
    }
}