.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #f7fafc;
}

.loading{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 600%;
  color: white;
}

.loading-header{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 10%;
  font-size: 600%;



}