.css-1bpnzr33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #01041a
  }
  
  .css-k2eq80 {
    margin-bottom: 20px;
  }
  
  .css-1hv8zgx {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .css-mlsaez {
    width: 100%;
    max-width: 400px;
  }
  
  .css-13ra036 {
    margin-top: 20px;
  }
  
  .css-ebzegt {
    display: flex;
    justify-content: center;
  }
  
  .chakra-stack.css-1db3zf7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chakra-form-control.css-1kxonj9 {
    margin-bottom: 10px;
  }
  
  .chakra-input.css-p20xy6 {
    width: 100%;
  }
  
  