.registration-page, .registration-page .card {
    display: flex;
    align-items: center;
}
.registration-page {
    min-height: calc(100vh - 100px);
    height: 100%;
    max-height: calc(100vh - 100px);
    width: 100%;
    max-width: 100vw;
    background: #2c4147;
    justify-content: center;
}

.registration-page .card {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0;
    flex-direction: column;
}

.registration-page .card h2 {
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: white;
}

.registration-page .card .registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
    color: white;
}

.registration-page .card .registration-form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 8px 0;
    flex: 1 1;
}

.registration-page .card .registration-form .input-field label {
    margin-bottom: 5px;
    color: white;
}

.registration-page .card .registration-form .input-field input {
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #e4e4e4;
    width: 100%;
    background: transparent;
    color: white;
}

.registration-page .card .split-input-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-gap: 20px;
    gap: 20px;
}

.registration-page .card .footer, .registration-page .card .registration-form .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-page .card .registration-form .btn {
    height: 70px;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.registration-page .card .footer {
    border-top: 1px solid #e4e4e4;
    margin-top: auto;
    height: 50px;
    color: white;
}

.registration-page .card .footer p {
    color: white;
}

.registration-page .card .footer a {
    text-decoration: none;
    color: #00c98e;
}
