.SleepPage .button {
  display: flex;
}
.SleepPage .button button {
  flex: 1;
}
.css-1bpnzr3 {
  margin-top: 2.5rem;
}

.css-k2eq80 {
  background: blue;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

.css-1cgbrw5 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.css-b5coes {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.33;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3rem;
}

.css-vpbd2d {
  display: flex;
  max-width: 1680px;
  margin-inline: auto;
}

.css-1qfrez2 {
  display: flex;
  margin-top: 4rem;
  max-width: 1680px;
  margin-inline: auto;
  width: 100%;
}

.css-uiodal {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-inline: auto;
  flex: 1 1 0%;
}

.css-xixnl8 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.css-sxxv4f {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #00B5D8;
}