.login-page{
    display: flex;
    align-items: center;
}

.login-form {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0;
    flex-direction: column;
}

h2{
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: black;
}

.error{
    color: red;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: #fff;
    background: #32292F;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.input-field input{
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #32292F;
    width: 100%;
    background: transparent;
    color: #32292F;
    margin-top: 15px;
}

.input-field{
    margin: 8px 0;
}

.footer{
    color: black;
}

