.sleep-card {
    display: flex;
    align-items: center;
    /* background-color: #181253; */
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 1000px;
    padding: 16px;
    width: 1000px;
    height: 299px;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
    margin-bottom: 16px;
  }
  
  .image-container {
    width: 500px;
    height: 160px;
  }
  
  .sleep-image {
    margin-left: 16px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .sleep-content {
    flex: 1;
  }
  
  .image-container:nth-of-type(2n) {
    background-color: green 
  } 
  /* Set alternate background color for even cards }  */
  

.image-container:nth-of-type(2n) span {
  color: #fff;
}
  .sleep-card:hover {
    background-color: #f0f0f0; /* Set background color on hover */ 
  }
  
  /* Add additional styling as needed */
  