.navbar {
    width: 100%;
    max-width: 100vw;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navbar .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-logo {
    width: 70px;
    margin-left: 50px;
    margin-right: 50px;
}