.navbar {
  width: 100%;
  max-width: 100vw;
  background:#508991;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-logo{
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-left: 60px;
  background-color: white;
  border-radius: 10px;
}
img{
  color: white;
}
.content{
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
.login-button{
  display: inline-block;
  border: solid;
  border-radius: 4px;
  border-color: #75dddd;
  background-color: #508991;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px 15px;
  transition: all 0.3s;
  cursor: pointer;
}
.login-button:hover{
  background-color: #197884;
}
.register-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #75dddd;
  border: none;
  color: #3a4648;
  text-align: center;
  font-size: 16px;
  padding: 5px 15px;
  transition: all 0.3s;
  cursor: pointer;
}
.register-button:hover{
  background-color: #87ebeb;
}