.activity-feed {
    display: flex;
    margin: 10px;
}

.activity-feed .average-calories-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100px;
    background-color: #C7DAD4;
    border-radius: 7px;
    padding: 10px;
}

.average-calories-container span {
    display: flex;
    justify-content: center;
    font-size: 30px;
}