
.nutrition-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.nutrition-card span {
    font-size: 30px;
}
.nutrition-card .card-content {
    display: flex;
    flex-direction: column;
    background: #C7DAD4;
    width: 600px;
    height: 200px;
    border-radius: 7px;
}

.nutrition-card .card-content span {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;

}

.nutrition-card .card-content .numeral-data {
    display: flex;
    justify-content: space-evenly;
}

.card-content .card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.card-content .card-text .icon {
    width: 50px;
    height: 50px;
    background-color: #498877;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 0px;
}