.activity-page {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    font-family: 'Questrial', sans-serif;
  }
  .activity-page .content {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
  }
  .activity-page .content h1 {
    font-weight: 800;
    font-size: 40px;
  }
  .activity-page .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 300px;
    font-size: 18px;
  }
  .activity-page .card .appt {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .activity-page .card .title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
  }
  .activity-page .card .title.green {
    background: rgba(0, 156, 44, 0.1);
    color: rgba(0, 156, 44, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
  }
  .activity-page .card .footer {
    margin-top: auto;
  }
  .activity-page .media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activity-page .media img {
    width: 100%;
    max-width: 500px;
  }
  .activity-page .title{
    text-align: center;
  }
  .activity-page .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .box {
    flex: 1 1 200px; /* Adjust the width of each box as needed */
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
  }
  