.card {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 6px;
    background-color: var(--light-text);
    color: var(--dark-text);
    border: 2px solid black;
}
a#here-text {
    color: var(--accent-green);
}
a.here-text{
    color: var(--accent-green);
    text-decoration: underline;
}