.card {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 6px;
    background-color: var(--light-text);
    color: var(--dark-text);
    box-shadow: 4px 4px 20px rgb(9, 22, 7);

}
a#here-text {
    color: var(--accent-green);
}
a.here-text{
    color: var(--accent-green);
    text-decoration: underline;
}